.App {
  text-align: center;

  span{
    margin-top: 20px;
  }

  .btn {
    padding: 10px;
    background-color:  #3C5A99;
    color: #fff;
    border-radius: 6px;
    box-shadow: none;
    outline: none;
    margin-top: 20px;
    margin-left: 10px;
    cursor: pointer;
  }
}


